:root{
    --fushia:#EC4899;
    --rosesombre:#D41D35;
    --fond:#FBEBEB;
    --gris:#7A7A7A;
}

*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
    font-family: "open sans";
    
    a{
        text-decoration: none;
        font-family: "roboto";
    }
    img{
        width: 100%;
        object-fit: cover;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    h1, h2{
        font-family: "arimo";
        font-size: 34px;
        font-weight: 700;
    }
    h3{
        font-family: "arimo";
        font-size: 19px;
        font-weight: 700; 
    }
}

body{
    header{
        max-width: 1920px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        padding: 5px;
        img{
            width: 180px;
        }
        nav{
            ul{
                display: flex;
                gap: 20px;
                a{
                    color: var(--gris);
                    display: inline-block;
                    &:hover{
                        transform: scale(1.1);
                        color: var(--rosesombre);
                    }
                }
            }
        }
        .cart{
            color: white;
            font-weight: 500;
            font-size: 15px;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            background-color: var(--rosesombre);
            padding: 12px 24px 12px 24px ;
            &:hover{
                color: var(--rosesombre);
                background-color: white;
            }
        }
    }
    footer{
        background-color: black;
        div{
            max-width: 1920px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 5px;
            img{
                width: 180px;
            }
            nav{
                ul{
                    gap: 20px;
                    display: flex;
                    a{
                        color: var(--fond);
                    }
                }
            }
        }
    }
    main{
        a{
            display: inline-block;
            color: white;
            font-weight: 500;
            font-size: 15px;
            border-radius: 3px;
            background-color: var(--fushia);
            padding: 12px 24px 12px 24px ;
            box-shadow: 0px 4px 15px rgba(0, 0, 10, 0.5);
            margin-right: 15px;
            &:hover{
                color: var(--fushia);
                background-color: white;
            }
        } 
        .cinqs1{
            background-image: url(../maquillageimg/fondtfhjk.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 800px;
            >div{
                align-content: center;
                background-color: rgba(255, 255, 255, 0.5);
                height: 800px;
                >div{  
                    padding: 5px;
                    max-width: 1920px;
                    margin: auto;
                    text-align: center;
                    p{
                        font-family: "roboto";
                        max-width: 770px;
                        margin: auto;
                        padding-top: 30px;
                        padding-bottom: 40px;
                    }
                    >div{
                        .learnmore{
                            color: var(--fushia);
                            background-color: white;
                            margin-left: 15px;
                            &:hover{
                                color: white;
                                background-color: var(--fushia);
                            }
                        }
                    }
                }
            }
        }
        .cinqs2{
            padding: 5px;
            margin: auto;
            max-width: 1440px;
            padding-bottom: 80px;
            h2{
                justify-self: center;
                padding: 50px 5px 50px 5px;
            }
            div{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 30px;
                article{
                    box-shadow: 0px 4px 15px rgba(0, 0, 10, 0.2);
                    border-radius: 12px;
                    img{
                        height: 180px;
                        border-top-left-radius : 12px;
                        border-top-right-radius: 12px ;
                    }
                    h3, p, span{
                        padding: 5px 15px 5px 15px;
                    }
                    span{
                        justify-self: center;
                        color: var(--fushia);
                        font-family: "arimo";
                        font-weight: 700;
                        font-size: 20px;
                        display: flex;
                    }
                }
            }
        }
        .cinqs3{
            background-color: var(--fond);
            >div{
                padding: 5px;
                max-width: 1440px;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 20px;
                padding-bottom: 80px;
                padding-top: 80px;
                img{
                    border-radius: 12px;
                }
                p{
                    padding-bottom: 30px;
                    padding-top: 30px;
                    font-family: "roboto";
                }
            }
        }
        .cinqs4{
            max-width: 1440px;
            margin: auto;
            padding-bottom: 80px;
            h2{
                padding-top: 60px;
                padding-bottom: 40px;
                text-align: center;
            }
            >div{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                article{
                    border-radius: 12px;
                    box-shadow: 0px 4px 15px rgba(0, 0, 10, 0.2);
                    padding: 25px;
                    >div{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding-bottom: 10px;
                        img{
                            width: 80px;
                            height: 80px;
                            border-radius: 40px;
                        }
                        >div{
                            >div{
                                gap: 5px;
                                display: flex;
                                i{
                                    color: #FBEBEB;
                                }
                                span{
                                    gap: 5px;
                                    display: flex;
                                    i{
                                        color: var(--fushia);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cinqs5{
            background-color: var(--fond);
            >div{
                max-width: 560px;
                margin: auto;
                justify-items: center;
                padding-top: 100px;
                padding-bottom: 60px;
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    gap: 20px;
                    padding: 20px;
                    input, textarea{
                        padding: 5px;
                        margin-top: 5px;
                        &::placeholder{
                            font-family: "roboto";
                            color: #7A7A7A;
                            font-size: 15px;
                        }
                    }
                    div{
                        display: grid;
                    }
                    button, .message{
                        grid-column: 1 / -1;
                    }
                    button{
                        display: block;
                        color: white;
                        background-color: black;
                        border-radius: 3px;
                        padding: 12px 24px 12px 24px;
                        border-style: none;
                        font-size: 16px;
                        border-style: solid;
                        border-width: 1px;
                        width: fit-content;
                        justify-self: center;
                        &:hover{
                            background-color: white;
                            color: black;
                            border-color: black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width :1024px) {
     body{
        main{
            .cinqs4{
                >div{
                    grid-template-columns: 1fr;
                }
            }

        }
    }
}

@media screen and (max-width :767px) {
    body{
        header{
            display: grid;
            text-align: center;
            nav{
                ul{
                    gap: 10px;
                }
            }
        }
        footer{
            div{
                display: grid;
                text-align: center;
                img{
                    place-self: center;
                }
                nav{
                    ul{
                        gap: 10px;
                    }
                }
            }
        }
        main{
            .cinqs2{
                >div{
                    grid-template-columns: 1fr;
                }
            }
            .cinqs3{
                >div{
                    grid-template-columns: 1fr;
                }
            }
            .cinqs5{
                >div{
                    form{
                        grid-template-columns: 1fr;
                        width: 85%;
                    }
                }
            }
        }
    }

}